@font-face {
  font-family: 'icomoon';
  src: url('icomoon.eot?bq0m72');
  src: url('icomoon.eot?bq0m72#iefix') format('embedded-opentype'),
    url('icomoon.ttf?bq0m72') format('truetype'),
    url('icomoon.woff?bq0m72') format('woff'),
    url('icomoon.svg?bq0m72#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sedona::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-advantage-1:before {
  position: absolute;
  content: "\e900";
  color: #83b3d3;
  font-size: 72px;

}

.icon-advantage-2:before {
  content: "\e901";
  color: #83b3d3;
  font-size: 72px;
}

.icon-advantage-3:before {
  position: absolute;
  content: "\e902";
  color: #83b3d3;
  font-size: 72px;
}

.icon-breadcrumbs-arrow:before {
  content: "\e903";
  color: #fff;
}

.icon-checkbox:before {
  content: "\e904";
  color: #3f5e72;
}

.icon-footer-logo:before {
  content: "\e905";

}

.icon-header-logo .path1:before {
  content: "\e906";
  color: rgb(129, 179, 211);
}

.icon-header-logo .path2:before {
  content: "\e907";
  margin-left: -2em;
  color: rgb(35, 169, 225);
}

.icon-header-logo .path3:before {
  content: "\e908";
  margin-left: -2em;
  color: rgb(255, 255, 255);
}

.icon-header-logo .path4:before {
  content: "\e909";
  margin-left: -2em;
  color: rgb(73, 18, 19);
}

.icon-header-logo .path5:before {
  content: "\e90a";
  margin-left: -2em;
  color: rgb(35, 169, 225);
}

.icon-header-logo .path6:before {
  content: "\e90b";
  margin-left: -2em;
  color: rgb(220, 98, 67);
}

.icon-header-logo .path7:before {
  content: "\e90c";
  margin-left: -2em;
  color: rgb(244, 151, 116);
}

.icon-header-logo .path8:before {
  content: "\e90d";
  margin-left: -2em;
  color: rgb(244, 177, 164);
}

.icon-header-logo .path9:before {
  content: "\e90e";
  margin-left: -2em;
  color: rgb(255, 255, 255);
}

.icon-heart:before {
  content: "\e90f";
}

.icon-hero-bg-decor:before {
  content: "\e910";
  color: #fff;
}

.icon-home:before {
  content: "\e911";
  color: #fff;
}

.icon-search:before {
  content: "\e912";
}

.icon-select-arrow:before {
  content: "\e913";
}

.icon-star:before {
  content: "\e914";
  color: #83b3d3;
}

.icon-telegram:before {
  content: "\e915";
  color: #83b3d3;
}

.icon-card-icon:before {
  content: "\e916";
}

.icon-gallery-icon:before {
  content: "\e917";
}

.icon-list-icon:before {
  content: "\e918";
}

.icon-vk:before {
  content: "\e919";
  color: #83b3d3;
}

.icon-welcome .path1:before {
  content: "\e91a";
  color: rgb(118, 100, 88);
}

.icon-welcome .path2:before {
  content: "\e91b";
  margin-left: -1.30078125em;
  color: rgb(129, 179, 211);
}

.icon-welcome .path3:before {
  content: "\e91c";
  margin-left: -1.30078125em;
  color: rgb(255, 255, 255);
}

.icon-youtube:before {
  content: "\e91d";
  color: #83b3d3;
}
