/* <form class="page-header__form" action="">
<input type="text" class="header__search" placeholder="search" />
<button class="btn header-btn"></button>
</form>
<a href="" class="heart" data-number="12"></a>
<a href="" class="btn header-link link-bg--brown">Хочу сюда!</a>  */

.header {
  height: 64px;
  background-color: var(--color-bg-basic);
}
.header__container {
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo {
  width: 140px;
  height: 70px;
  z-index: 1;
}
.header__nav {
}
.header__nav-list {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  gap: 32px;
}

.header__nav-item {
}

.header__nav-link {
  position: relative;
  color: var(--color-text-primary);
  font-size: 20px;
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  transition: color 0.5s ease-in-out;
}

.header__nav-link::before {
  content: "";
  bottom: -18px;
  left: 0;
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--color-btn-primary);
  transition: 0.2s ease-in;
}

.header__nav-link:hover::before {
  width: 100%;
}

.header__nav-link:hover {
  color: var(--color-btn-selected);
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__form {
  display: flex;
  align-items: center;
}
.header__search {
  width: 0;
  border: none;
  outline: none;
}

.header-btn {
  width: 20px;
  height: 20px;
  background-image: url("/images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.heart {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 0 0 12px;
  background-image: url("/images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.heart::after {
  position: absolute;
  content: attr(data-number);
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  color: var(--color-text-write);
  background-color: var(--bg-selected);
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  font-weight: var(--fw-regular);
}

.header-link {
  width: 195px;
  padding: 8px 35px;
  margin-left: 20px;
  transition: background-color 0.3s ease-in;
}

.header-link:hover {
  background-color: var(--bg-selected);
}
