@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),
  url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans"),
  url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #fff;
}


/* -- Page__Header -- */

.page-header {
  background-color: #fff;
}
.page-header__nav {
  padding: 20px 0;
  display: flex;
}
.header-logo {}
.nav-list {
  display: flex;
}
.menu__nav-list {
  margin-right: auto;
}
.menu__nav-item {}
.menu__nav-link {}
.nav-link-current {}
.menu__nav-user {

}
.menu__nav-user-item {}
.menu__nav-user-link {}
.visually-hidden {}
.favorite-decor {}
