@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),
    url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans"),
    url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}

:root {
  /* Font */

  --fw-regular: 400;
  --fw-bold: 700;

  /* color */

  /* Text */
  --color-text-primary: #000;
  --color-text-secondary: #333;
  --color-text-error: #ff5757;
  --color-text-write: #fff;
  --color-text-opacity: rgba(255, 255, 255, 0.3);

  /* Battons */
  --color-btn-primary: #756157;
  --color-btn-secondary: #82b3d3;
  --color-btn-selected: #7db54f;

  /* Background */
  --bg-basic: rgba(0, 0, 0, 0.30);
  --bg-primary: #82b3d3;
  --bg-secondary: rgba(131, 179, 211);
  --bg-white: #ffffff;

  /* Icons */

  --ico-basic: #000;
  --ico-secondary: #83B3D3;
  --ico-inscriptions: #7DB54F;

  /* Forms */

  --form-input: #3F5E72;
  --form-dark-element: #E5E5E5;
  --form-light-element: #F2F2F2;

}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: var(--bg-white);
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 10px;
}

.main-container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 10px;
}

.small__container {
  max-width: 720px;
  padding: 0 10px;
  margin: 0 auto;

}

/* General styles */

.btn {
  color: var(--color-text-write);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

.title {

  color: var(--color-text-primary);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.title-primary {
  margin-bottom: 60px;
  color: var(--color-text-write);
  font-size: 24px;
  text-align: center;
  font-weight: var(--fw-bold);
  line-height: 28px;
  text-transform: uppercase;
}

.subtext {
  color: var(--color-text-secondary);
  text-align: center;
  font-size: 22px;
  font-weight: var(--fw-regular);
  line-height: 26px;
}


.subtext-primary {
  color: var(--bg-white);
  text-align: center;
  font-size: 18px;
  font-weight: var(--fw-regular);
  line-height: 21px;
}

/* Helper styles */

.visually-hidden {
  display: none;
}

/* -- Page__Header -- */

.page-header {
  background-color: var(--bg-white);
}

.page-header__nav {
  display: flex;
  height: 64px;
}

.header-logo {
  z-index: 1;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;


}

.menu__nav-list {
  margin-left: 46px;
  gap: 32px;
  font-weight: var(--fw-bold);

}

.menu__nav-item {}

.menu__nav-link {
  position: relative;
  color: var(--color-text-primary);
  font-size: 20px;
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  transition: 0.3s ease-in;
}

.menu__nav-link:hover {
  color: var(--color-btn-selected);
}

.menu__nav-link::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -20px;
  background-color: var(--color-btn-primary);
  width: 0;
  transition: all 0.3s ease-in;
  z-index: 2;
}

.menu__nav-link:hover::before {
  width: 100%;
  height: 3px;
}

.nav-link-current {
  position: relative;
  color: var(--color-btn-selected);
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  transition: 0.3s ease-in;
}

.nav-link-current::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  right: 0;
  left: 0;
  bottom: -20px;
  background-color: var(--color-btn-primary);
  z-index: 999;
}

.menu__nav-user {
  margin-left: auto;
}

.menu__nav-user-item {}

.menu__nav-user-link {}

.menu__nav-user-search {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.heart {
  position: relative;
  display: block;
  margin: 0 33px 0 25px;
  background-image: url('../images/icons/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.favorite-decor::after {
  position: absolute;
  content: attr(data-quantity);
  top: -11px;
  right: -10px;
  width: 20px;
  height: 20px;
  color: var(--color-text-write);
  font-size: 10px;
  font-weight: var(--fw-regular);
  line-height: 20px;
  text-align: center;
  background-color: var(--color-btn-selected);
  border-radius: 50%;
}

.page-header-btn {
  padding: 8px 34px 8px 34px;
  margin-right: 30px;
  text-transform: uppercase;
  color: var(--color-text-write);
  background-color: var(--color-btn-primary);
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;

}

.page-header-btn:hover {
  background-color: var(--color-btn-selected);

}

/* --Section Hero-- */

.hero {
  min-height: 485px;
  background-image: url('../images/hero__bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;


}

.hero::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/hero__bg-decor.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  width: 100%;
  height: 57px;
}

.hero__banner {
  text-align: center;

}

.page-header__content__banner-img {
  margin: 52px auto 0 auto;

}

/* --Section Advantages-- */

.advantages {}

.advantages__header {
  max-width: 655px;
  background-color: var(--bg-white);
  margin: 0 auto 0 auto;
  padding: 69px 0 89px 0
}

.advantages__header-title {
  margin-bottom: 25px;

}

.advantages__header-subtitle {}

.advantages-list {}

.advantages-item {}

.advantages-item__wrap {
  display: flex;

}

.advantages__content {
  flex-basis: 400px;
  text-align: center;
  padding: 103px 80px;
  background-color: var(--bg-primary);

}

.advantages__content-title {
  position: relative;
}

.advantages__content-title::after {
  position: absolute;
  content: '';
  width: 60px;
  height: 2px;
  right: 85px;
  left: 110px;
  bottom: -30px;
  background-color: rgba(255, 255, 255, 0.30);
}


.advantages__content-subtitle {}

.advantages__content__img {
  flex-basis: 800px;
}

.advantages__content-img {}

.advantages-card__wrap {
  display: flex;
  background-color: rgba(131, 179, 211, 0.12);

}

.advantages-card__block {
  padding: 113px 86px;
  max-width: 485px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.advantages--opacity {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages__card-title {
  position: relative;
  color: var(--color-text-primary);
}

.advantages__card-title::after {
  position: absolute;
  content: '';
  width: 60px;
  height: 2px;
  right: 85px;
  left: 78px;
  bottom: -30px;
  background: rgba(0, 0, 0, 0.30);
}



.advantages__card-text {
  color: var(--color-text-secondary);
}

/* --Section services-- */
.services {}

.services__header {
  max-width: 655px;
  background-color: var(--bg-white);
  margin: 0 auto 69px auto;
  padding: 62px 0 0 0;
}

.services-title {
  margin-bottom: 20px;
}

.services-text {}

.services__cards {
  display: flex;
}

.services__card {
  position: relative;
  flex-basis: 400px;
  padding: 178px 85px 80px 85px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.services__card:nth-child(1)::after {
  position: absolute;
  background-image: url('../images/icons/advantage-icon-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  top: 77px;
  left: 160px;
  right: 0;
  width: 75px;
  height: 72px;
}

.services__card:nth-child(2)::after {
  position: absolute;
  background-image: url('../images/icons/advantage-icon-2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  top: 75px;
  left: 160px;
  right: 0;
  width: 75px;
  height: 72px;
}

.services__card:nth-child(3)::after {
  position: absolute;
  background-image: url('../images/icons/advantage-icon-3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  top: 75px;
  left: 160px;
  right: 0;
  width: 75px;
  height: 75px;
}

.services__card--opacity {
  background-color: rgba(131, 179, 211, 0.20);

}

.services__card-title {
  color: var(--color-text-primary);
  margin-bottom: 30px;
}

.services__card-text {
  color: var(--color-text-secondary);
}

/* Search Hotel */

.search__hotel {
  max-width: 592px;
  padding: 98px 0;
  margin: 0 auto;
  background-color: var(--bg-white);
}

.search__hotel-title {
  margin-bottom: 20px;

}

.search__hotel-subtext {
  text-align: center;
  margin: 0 auto 54px auto;
  color: var(--color-text-secondary);
}

.search__hotel-btn {
  display: block;
  max-width: 376px;
  padding: 15px 50px 15px 50px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  background-color: var(--color-btn-primary);
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.search__hotel-btn:hover {
  background-color: var(--color-btn-selected);
}


/* Section__Sending */


.sending {
  padding: 96px 0 104px 0;
  background-image: url('../images/subscribe.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.sending__top-title {
  margin-bottom: 20px;
  color: var(--color-text-write);
}

.sending-text {
  color: var(--color-text-write);
  margin-bottom: 54px;
}

.sending__form {
  max-width: 685px;

}

.sending__form > input {
  padding: 12px 20px 12px 20px;
  margin-right: -5px;
  font-weight: var(--fw-bold);
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  background-color: var(--bg-white);
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
}


.sending__form > input::placeholder {
  padding: 12px 0 12px 0;
  color: var(--color-text-primary);
  font-size: 18px;
  font-weight: var(--fw-bold);
  opacity: 0.6;
}

.sending-btn {
  width: 232px;
  height: 52px;
  color: var(--color-text-write);
  background-color: var(--bg-primary);
  padding: 8px 50px 8px 50px;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.sending-btn:hover {
  background-color: var(--color-btn-selected);
}


/* Footer */

.footer {
  padding: 40px 0;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social-list {
  display: flex;
  gap: 26px;
}

.footer__social-item {}

.footer__social-link {}

.footer__social-svg {
  fill: var(--color-btn-secondary);
}



.footer__social-svg:hover {
  fill: var(--color-btn-selected);
}

.footer__phone {
  color: var(--color-text-primary);
  text-align: center;
  font-size: 40px;
  font-weight: var(--fw-regular);
  text-transform: uppercase;
}

.footer__logo {}

.footer__logo-link {}

.footer__logo-img {}
