@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),
  url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans"),
  url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}

:root {
   /* Font */

   --fw-regular: 400;
   --fw-bold: 700;

  /* color */

  /* Text */
  --color-text-primary: #000;
  --color-text-secondary: #333;
  --color-text-error: #ff5757;
  --color-text-write: #fff;
  --color-text-opacity: rgba(255, 255, 255, 0.3);

  /* Battons */
  --color-btn-primary: #756157;
  --color-btn-secondary: #82b3d3;
  --color-btn-selected: #7db54f;

  /* Background */
  --bg-basic: rgba(0, 0, 0, 0.30);
  --bg-primary: #82b3d3;
  --bg-secondary: rgba(131, 179, 211);

  /* Icons */

    --ico-basic: #000;
    --ico-secondary: #83B3D3;
    --ico-inscriptions:#7DB54F;

 /* Forms */

    --form-input: #3F5E72;
    --form-dark-element: #E5E5E5;
    --form-light-element:#F2F2F2;

}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #fff;
}
